:root {}

body {
	@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
	font-family: 'Ubuntu', sans-serif, monoscript;
	font-size: 20px;
	font-weight: bold;
}

h1 {
	margin: 1em;
	border: solid;
	padding: 0.25em 1em 0.25em 1em;
	max-width: 23em;
	min-width: 75%;
}
